data/
.venv/
/site/
__pycache__/
*.py[cod]
.ruff_cache/
*.egg-info/
dist/
build/
.pytest_cache/
.mypy_cache/
_gee_checks/
exports/
examples/**

!examples/

!examples/playground.ipynb
!examples/plot_utils.py
!examples/quickstart.py
!examples/demo.ipynb
!examples/utils_demo.py